body {
    background-color: #8e43be;
}
h1, h2, p {
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
    color: #15b875;
}